.bg {
    background-image: url('../assets/images/pexels-scott-webb-1029612.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }